
<section>
    <input type="text" placeholder="Title">
    <ul class="todos">
        {{#each model as |t|}}
            {{todo-item model=t}}
        {{else}}
            <em>No todos right now.</em>
        {{/each}}
    </ul>
</section>
